<footer>
    <hr>
    CST336 Internet Programming. 2019&copy; Sandoval <br />
    <strong>Disclaimer:</strong> The information on this page is strictly for academic purpose <br />
    and may not be entirely accurate.

    <figure>
        <img alt="Picture of CSUMB logo" src="img/csumb_logo_2.jpg" />
    </figure>
</footer>

</body>
</html>