<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3 Types of Viruses</title>

    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body class="container clearfix">
<h1> <em><ins>Three Types of Viruses</ins> </em> </h1>
<nav >
    <a href="/">Home</a>
    <a href="/resident">Resident Virus</a>
    <a href="/direct">Direct Action Virus</a>
    <a href="/boot">Boot Sector Virus</a>
</nav>

<br /><br />