<header>
    <div class="header" id="boot_head">
        <figure id="boot_virus">
            <img alt="Virus image" src="img/main_virus2.jfif" />
        </figure>
        <figure id="boot">
            <img alt="Virus image" src="img/boot_virus.jfif" />
        </figure>
    </div>
</header>

<% include partials/header.ejs %>

<main>
    <div id="someBootInfo" class="container clearfix">
        <p>
            Boot sector viruses can be some of the most dangerous for a everyday user. They are hard to remove and <br />
            usually require a full system format. A full system will scrub through the hard drive from scratch and <br />
            rebuild all of its file structures. This is the case if the virus has indeed encrypted the boot <br />
            sector or inordinately damaged the code. In other instances, when hard to notice the virus, a simple <br />
            run of an updated antivirus program with a large registry of boot viruses can safely remove the virus. <br />
            The boot sector virus was very popular in the 1990's when floppy disks were in high demand. Fortunately, <br />
            their frequency has greatly reduce from improvements in BIOS architecture.
        </p>
        <br />
        <br />
    </div>
</main>

<% include partials/footer %>