<header>
    <div class="header" id="direct_head">
        <figure id="direct">
            <img alt="Virus image" src="img/direct_virus.jfif" />
        </figure>
        <figure id="direct_virus">
            <img alt="Virus image" src="img/direct_virus2.jfif" />
        </figure>
    </div>
</header>

<% include partials/header.ejs %>

<main>
    <div id="someDirectInfo" class="container clearfix">
        <p>
            The direct action virus is another type of infector virus. Different from the resident, this virus is <br />
            seen as "non-resident" because it does not install or hide itself on the computer's memory. As <br />
            mentioned on the main page, it actually attaches itself to a specific file type. In addition, the <br />
            direct action virus does not usually remove any files, although making some files inaccessible, or <br />
            obstruct the system's performance. This virus may be much easier to remove with an anti-virus <br />
            software, unlike the resident file that sometimes requires a unique tool. Rugrat, a direct action <br />
            virus, has been rumored to be the first infection written in the Intel Itanium instruction set. Also <br />
            known as Win64.Rugrat, it was only able to infect Itanium executable files.
        </p>
        <br />
        <br />
    </div>
</main>

<% include partials/footer %>