<header>
    <div class="header" id="res_head">
        <figure id="resident">
            <img alt="Virus image" src="img/main2_virus2.jfif" />
        </figure>
        <figure id="resident_virus">
            <img alt="Virus image" src="img/resident_virus.jpg" />
        </figure>
    </div>
</header>

<% include partials/header.ejs %>

<main>
    <div id="someResidentInfo" class="container clearfix">
        <p>
            The resident virus is one primary type of file infector. As mentioned on the home page, it installs <br />
            itself on a computer and is sometimes very difficult to remove. This virus can be hard to spot, thus  <br />
            making it harder to remove. The slow infector, one area of the resident virus, is an example of when <br />
            the virus could be difficult to notice as the symptoms develop slowly. However, the second area, the <br />
            fast infector is much easier to notice because it's job is to create as much damage as fast as <br/>
            possible. An anti-virus will not always be able to protect you, the resident virus has the ability to <br />
            attach itself to an anti-virus software and infect every file the software accesses. Therefore, <br />
            needing a unique tool to completely remove the virus.
        </p>
        <br />
        <br />
    </div>
</main>

<% include partials/footer %>